*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
    height: 100%;
    width: 100% ;
    background-color : pink;
    color: white;
}

#main-header {
    background-color: black;
    width: 100%;
    height: 100%;
    padding: 16px 42px;
    font-size: 21px;
    line-height: 24px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 25px;
    align-items: center;
}

.menu-list {
    display: flex;
    justify-content: space-between;
}

#logo-wrapper {
    height: 74px;
    width: 204px;
    padding-top: 20px;
}
