*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
    --dark-grey: #8f8f8f;
}

body {
    height: 100%;
    width: 100% ;
    background-color : pink;
    color: white;
}

#main-header {
    background-color: var(--dark-grey);
    width: 100%;
    height: 100%;
    padding: 16px 42px;
    font-size: 21px;
    line-height: 24px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    /* column-gap: 25px; */
    align-items: center;
}

.menu-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

#logo-wrapper {
    height: 74px;
    width: 204px;
    padding-top: 20px;
}

#lower-header {
    /* display: flex;
    justify-content: space-between; */
    height: 72px;
    width: 100%;
    padding-top: 6px;
    background-color: lightgrey;
}

#headline-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 5px;
    width: 1428px;
    margin: 0 auto;
}

.articles-wrapper {
    width: 85%;
    height: 819px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.author-pic {
    height: 176px;
    width: 176px;
    background-color: white;
    border-radius: 10px;
}

.article-header {
    display: flex;
}

.article-details {
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
}

.article-details h1 {
    margin-top: 20px;
    margin-bottom: 15px;
}
article {
    background-color: lightgrey;
    padding: 15px;
}

#main-article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 45%;
    background-color: var(--dark-grey);
    padding-bottom: 30px;
}


.newsletter-wrapper {
    background-color: var(--dark-grey);
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 125px;
    padding-top: 125px;
    justify-content: flex-start;
    position: relative;
}

.action-img-wrapper {
    position: absolute;
    top: -125px;
    z-index: 1;
    height: 250px;
    width: 250px;
}

#guides-section {
    width: 100%;
    margin-top: 50px;
}
.guides-wrapper {
    width: 1428px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    column-gap: 31px;
}

.card {
    background-color: lightgrey;
    padding: 30px;
    border-radius: 10px;
}

.card-para {
    margin-top: 20px;
}

.card-btn {
    margin-top: 20px;
}
