*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
    --dark-grey: #8f8f8f;
}

body {
    height: 100%;
    width: 100% ;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

#main-header {
    background-color: var(--dark-grey);
    width: 100%;
    height: 100%;
    padding: 16px 42px;
    font-size: 21px;
    line-height: 24px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
}

.menu-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

#logo-wrapper {
    height: 74px;
    width: 204px;
    padding-top: 20px;
}

#lower-header {
    height: 72px;
    width: 100%;
    padding-top: 6px;
    margin-bottom: 20px;
    background-color: lightgrey;
}

.centered-wrapper {
    width: 1428px;
    margin: 0 auto;
}

#headline-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 5px;
}

article h2 {
    font-size: 20px;
    font-weight: bold;
}

article h1 {
    font-size: 45px;
}
.articles-wrapper {
    width: 85%;
    min-height: 819px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.articles-wrapper article {
    margin-bottom: 15px;
}
.author-pic {
    height: 176px;
    width: 176px;
    background-color: white;
    border-radius: 10px;
    margin-right: 25px;
}

.article-header {
    display: flex;
    
    flex-wrap: wrap;
}

.article-details {
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 60%;
}

.article-details h1 {
    margin-top: 20px;
    margin-bottom: 15px;
}
article {
    background-color: lightgrey;
    padding: 15px;
}

#main-article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 45%;
    background-color: var(--dark-grey);
    padding-bottom: 30px;
}


.newsletter-wrapper, .card-big, .family-card {
    background-color: var(--dark-grey);
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 125px;
    padding-top: 125px;
    position: relative;
    z-index: 1;
    border-radius: 15px;
}

.action-img-wrapper {
    position: absolute;
    top: -125px;
    z-index: 1;
    height: 250px;
    width: 250px;
}

.section-wrapper {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 100px;
}
.guides-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    column-gap: 31px;
}

.card {
    background-color: lightgrey;
    padding: 30px;
    border-radius: 10px;
}

.card-para {
    margin-top: 20px;
}

.card-btn {
    margin-top: 20px;
}

.articles-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
    grid-gap: 10px;
    height: 100%;
}

.grid-article .article-details {
    max-width: 80%;
}
.standard-article {
    padding: 20px;
    display: flex;
}

.author-small {
    width: 70px;
    height:70px;
}

.article-right {
    display: flex;
    flex-direction: column;
}

.article-right p {
    margin-bottom: 15px;
}

.cards-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.circle {
    background-color: white;
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.card-small {
    height: 330px;
    padding: 30px;
    border-radius: 15px;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.left-card-container {
    padding: 20%;
}

.card-big {
    padding-left: 20%;
    padding-right: 20%;
}

.family-cards-header {
    text-align: center;
}

.family-cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.family-card {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5%;
    max-width: 30%;
    height: 600px;
    margin-right: 20px;
    margin-bottom: 25px;
    background-color: lightgrey;
}